<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lishangbu.avalon.authorization.mapper.OauthAuthorizationConsentMapper">
  <resultMap id="OauthAuthorizationConsentResultMap" type="io.github.lishangbu.avalon.authorization.entity.OauthAuthorizationConsent">
    <result column="registered_client_id" property="registeredClientId" />
    <result column="principal_name" property="principalName" />
    <result column="authorities" property="authorities" />
  </resultMap>

  <select id="selectByRegisteredClientIdAndPrincipalName" resultMap="OauthAuthorizationConsentResultMap" parameterType="map">
    SELECT registered_client_id, principal_name, authorities
    FROM oauth_authorization_consent
    WHERE registered_client_id = #{registeredClientId} AND principal_name = #{principalName}
    LIMIT 1
  </select>

  <delete id="deleteByRegisteredClientIdAndPrincipalName" parameterType="map">
    DELETE FROM oauth_authorization_consent
    WHERE registered_client_id = #{registeredClientId} AND principal_name = #{principalName}
  </delete>

  <insert id="insert" parameterType="io.github.lishangbu.avalon.authorization.entity.OauthAuthorizationConsent">
    INSERT INTO oauth_authorization_consent (registered_client_id, principal_name, authorities)
    VALUES (#{registeredClientId}, #{principalName}, #{authorities})
  </insert>

  <update id="updateById" parameterType="io.github.lishangbu.avalon.authorization.entity.OauthAuthorizationConsent">
    UPDATE oauth_authorization_consent
    SET authorities = #{authorities}
    WHERE registered_client_id = #{registeredClientId} AND principal_name = #{principalName}
  </update>
</mapper>
