<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lishangbu.avalon.authorization.mapper.Oauth2AuthorizationConsentMapper">
  <resultMap id="oauth2AuthorizationConsentResultMap"
             type="io.github.lishangbu.avalon.authorization.entity.Oauth2AuthorizationConsent">
    <!--@Table oauth2_authorization_consent-->
    <id column="registered_client_id" property="registeredClientId"/>
    <result column="principal_name" property="principalName"/>
    <result column="authorities" property="authorities"/>
  </resultMap>

  <sql id="oauth2AuthorizationConsentColumnList">
    registered_client_id,
    principal_name,
    authorities
  </sql>

  <!--通过registeredClientId查询单条用户授权确认表数据-->
  <select id="selectById" resultMap="oauth2AuthorizationConsentResultMap">
    select
    <include refid="oauth2AuthorizationConsentColumnList"/>
    from oauth2_authorization_consent
    where registered_client_id = #{registeredClientId}
  </select>

  <!--新增用户授权确认表-->
  <insert id="insert">
    insert into oauth2_authorization_consent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorities != null and authorities != ''">
        authorities,
      </if>
      <if test=" principalName!= null and principalName != ''">
        principal_name,
      </if>
      <if test="registeredClientId != null and registeredClientId != ''">
        registered_client_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorities != null and authorities != ''">
        #{authorities},
      </if>
      <if test=" principalName!= null and principalName != ''">
        #{principalName},
      </if>
      <if test="registeredClientId != null and registeredClientId != ''">
        #{registeredClientId},
      </if>
    </trim>
  </insert>

  <!--通过registeredClientId和principalName删除用户授权确认表-->
  <delete id="deleteByRegisteredClientIdAndPrincipalName">
    delete from oauth2_authorization_consent
    where registered_client_id=#{registeredClientId} and
    principal_name=#{principalName}
  </delete>

  <!--通过registeredClientId和principalName查询用户授权确认表-->
  <select id="selectByRegisteredClientIdAndPrincipalName" resultMap="oauth2AuthorizationConsentResultMap">
    select
    <include refid="oauth2AuthorizationConsentColumnList"/>
    from oauth2_authorization_consent
    where registered_client_id=#{registeredClientId} and
    principal_name=#{principalName}
  </select>

  <!--通过registeredClientId和principalName修改用户授权确认表-->
  <update id="updateByByRegisteredClientIdAndPrincipalName">
    update oauth2_authorization_consent
    set authorities = #{authorities}
    where registered_client_id = #{registeredClientId} and
    principal_name = #{principalName}
  </update>
</mapper>

