<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lishangbu.avalon.authorization.mapper.RoleMenuRelationMapper">

  <!-- 插入关联 -->
  <insert id="insert" parameterType="io.github.lishangbu.avalon.authorization.entity.RoleMenuRelation">
    INSERT INTO role_menu_relation (role_id, menu_id)
    VALUES (#{roleId}, #{menuId})
  </insert>

  <!-- 根据 roleId 和 menuId 删除 -->
  <delete id="deleteByRoleIdAndMenuId" parameterType="map">
    DELETE FROM role_menu_relation
    WHERE role_id = #{roleId} AND menu_id = #{menuId}
  </delete>

  <!-- 根据 roleId 删除关联 -->
  <delete id="deleteByRoleId" parameterType="map">
    DELETE FROM role_menu_relation
    WHERE role_id = #{roleId}
  </delete>

</mapper>

