<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lishangbu.avalon.authorization.mapper.UserMapper">
  <!--
    返回 UserVO，包括 roles 列表
    JOIN user_role_relation 和 role，以便将角色一起返回
  -->
  <resultMap id="UserVOResultMap" type="io.github.lishangbu.avalon.authorization.model.UserVO">
    <id column="u_id" property="id" />
    <result column="u_username" property="username" />
    <result column="u_password" property="password" />
    <collection property="roles" ofType="io.github.lishangbu.avalon.authorization.entity.Role">
      <id column="r_id" property="id" />
      <result column="r_code" property="code" />
      <result column="r_name" property="name" />
      <result column="r_enabled" property="enabled" />
    </collection>
  </resultMap>

  <select id="selectByUsername" resultMap="UserVOResultMap" parameterType="String">
    SELECT
      u.id AS u_id,
      u.username AS u_username,
      u.password AS u_password,
      r.id AS r_id,
      r.code AS r_code,
      r.name AS r_name,
      r.enabled AS r_enabled
    FROM "user" u
    LEFT JOIN user_role_relation urr ON u.id = urr.user_id
    LEFT JOIN role r ON urr.role_id = r.id
    WHERE u.username = #{username}
  </select>
</mapper>
