version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: daily
      time: "21:30"
      timezone: Asia/Shanghai
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: software.amazon.awssdk:bom
