root = true

[*]
# 设置字符集
charset = utf-8
# 设置缩进方式为空格
indent_style = space
# 强制使用 UNIX 换行符
end_of_line = lf

[*.{kt,kts}]
max_line_length = off
ktlint_standard_filename = disabled
ktlint_standard_kdoc = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-consecutive-comments = disabled

[*.{yaml,yml,xml}]
# 缩进的空格数
indent_size = 2
