.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### PEM FILES ###
**.pem

### macOS System File ###
.DS_Store

### Ip Data File ###
IP2LOCATION-LITE-DB11**.BIN

### Log File ###
/logs/
*.log

### Kotlin ###
.kotlin

### Local Docs ###
/docs/
