##following code can be generated use MybatisCodeHelperPro plugin mybatis generator mingrate to template generate.
##copy group for different project.
#set($javamodelSrcFolder="${projectPath}/avalon-modules/avalon-authorization/src/main/java")
#set($modelPackageName="io.github.lishangbu.avalon.authorization.entity")
#set($mapperSrcFolder="${projectPath}/avalon-modules/avalon-authorization/src/main/java")
#set($mapperPackageName="io.github.lishangbu.avalon.authorization.mapper")
#set($mapperXmlFolder="${projectPath}/avalon-modules/avalon-authorization/src/main/resources")
#set($mapperXmlPackage="mapper")
#set($useLombok=true)
#set($useSwagger=false)
#set($useOpenApi=false)
#set($addSchemaName=false)
#set($mapperSuffix="Mapper")
#set($daoSuffix="Mapper")