spring:
  application:
    name: avalon
  profiles:
    active: dev
mybatis-plus:
  mapper-locations: classpath*:/mapper/*Mapper.xml
  global-config:
    banner: false
    db-config:
      id-type: assign_id
      table-format: "\"%s\""