spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/avalon?currentSchema=public&sslmode=disable
oauth2:
  ignore-urls:
    - /v3/api-docs
    - /actuator/**
  jwt-private-key-location: classpath:rsa/private_key.pem
  jwt-public-key-location: classpath:rsa/public_key.pem
management:
  endpoints:
    web:
      exposure:
        include: startup
logging:
  level:
    org:
      springframework:
        jdbc:
          core:
            JdbcTemplate: DEBUG
            StatementCreatorUtils: DEBUG