##定义初始变量
$!{mybatisCodehelper.vm}
#set($daoName = $tool.append($tableInfo.name, ${daoSuffix}))
##设置回调
#set($daoSavePath = $tool.append(${mapperSrcFolder},"/",${mapperPackageName.replace(".","/")}))

$!callback.setSavePath($daoSavePath)
$!callback.setFileName($tool.append($daoName, ".java"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

package $!{mapperPackageName};

import $!{modelPackageName}.$!{entityName};

import java.util.Optional;

/**
 * $!{tableInfo.comment}($!{tableInfo.obj.name})表数据库访问层
 *
 * @author $!{author}
 * @since $!{time.currTime("yyyy/MM/dd")}
 */
public interface $!{daoName} {

        /**
         * 通过$!pk.name查询单条$!{tableInfo.comment}数据
         *
         * @param $!pk.name 主键
         * @return 可选的$!{tableInfo.comment}
         */
        Optional<$!{entityName}> selectById($!pk.shortType $!pk.name);

        /**
         * 新增$!{tableInfo.comment}
         *
         * @param $!tool.firstLowerCase($!{entityName}) 实例对象
         * @return 影响行数
         */
        int insert($!{entityName} $!tool.firstLowerCase($!{entityName}));

        /**
         * 修改$!{tableInfo.comment}
         *
         * @param $!tool.firstLowerCase($!{entityName}) 实例对象
         * @return 影响行数
         */
        int updateById($!{entityName} $!tool.firstLowerCase($!{entityName}));

        /**
         * 通过$!pk.name删除$!{tableInfo.comment}
         *
         * @param $!pk.name 主键
         * @return 影响行数
         */
        int deleteById($!pk.shortType $!pk.name);

}
