    ##引入mybatis支持
        $!{mybatisCodehelper.vm}
        $!{mybatisSupport.vm}

        ##设置保存名称与保存位置
        #set($XmlSavePath = $tool.append(${mapperXmlFolder},"/",${mapperXmlPackage.replace(".","/")}))
        $!callback.setSavePath($XmlSavePath)
        $!callback.setFileName($tool.append($!{tableInfo.name}, $!{mapperSuffix},".xml"))

        #set($daoName = $tool.append($tableInfo.name, ${daoSuffix}))

        ##拿到主键,暂时仅支持单主键
        #if(!$tableInfo.pkColumn.isEmpty())
            #set($pk = $tableInfo.pkColumn.get(0))
        #end

    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="${mapperPackageName}.${daoName}">

        <resultMap id="$!tool.firstLowerCase($!{tableInfo.name})ResultMap" type="$!{modelPackageName}.$!{entityName}">
            <!--@Table $!{tableInfo.obj.name}-->
            #foreach($column in $tableInfo.fullColumn)
                #if($!column.obj.name==$!pk.obj.name)
                    <id column="$!pk.obj.name" property="$!pk.name"/>##生成主键排在第一位

                #else
                    <result column="$!column.obj.name" property="$!column.name"/> ##其余字段

                #end
            #end
        </resultMap>

        <sql id="$!tool.firstLowerCase($!{tableInfo.name})ColumnList">
            #allSqlColumn()
        </sql>

        <!--通过$!pk.name查询单条$!{tableInfo.comment}数据-->
        <select id="selectById" resultMap="$!tool.firstLowerCase($!{tableInfo.name})ResultMap">
            select
            <include refid="$!tool.firstLowerCase($!{tableInfo.name})ColumnList"/>
            from $!tableInfo.obj.name
            where $!pk.obj.name = #{$!pk.name}
        </select>

        <!--新增$!{tableInfo.comment}-->
        <insert id="insert" keyProperty="$!pk.name" useGeneratedKeys="true">
            insert into $!{tableInfo.obj.name}
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #foreach($column in $tableInfo.fullColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        $!{column.obj.name},
                    </if>
                #end
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                #foreach($column in $tableInfo.fullColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        #{$!column.name},
                    </if>
                #end
            </trim>
        </insert>

        <!--通过$!pk.name修改$!{tableInfo.comment}-->
        <update id="updateById">
            update $!{tableInfo.obj.name}
            <set>
                #foreach($column in $tableInfo.otherColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        $!column.obj.name = #{$!column.name},
                    </if>
                #end
            </set>
            where $!pk.obj.name = #{$!pk.name}
        </update>

        <!--通过$!pk.name删除$!{tableInfo.comment}-->
        <delete id="deleteById">
            delete from $!{tableInfo.obj.name} where $!pk.obj.name = #{$!pk.name}
        </delete>

    </mapper>
